In [ ]:
#Importing required libraries and loading the dataset from my github repository
import pandas as pd
import numpy as np

owner_df = pd.read_csv('https://raw.githubusercontent.com/ShreyasDasari/Data-Science-and-ML/main/Denver/owners.csv')
pets_df = pd.read_csv('https://raw.githubusercontent.com/ShreyasDasari/Data-Science-and-ML/main/Denver/pets.csv')
proceduredetails_df = pd.read_csv('https://raw.githubusercontent.com/ShreyasDasari/Data-Science-and-ML/main/Denver/procedure_details.csv')
procedures_df = pd.read_csv('https://raw.githubusercontent.com/ShreyasDasari/Data-Science-and-ML/main/Denver/procedures.csv')

In [ ]:
#Reading the Owner Dataframe
owner_df.head()

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034

In [ ]:
#Reading the Pets Dataframe
pets_df.head()
print(pets_df.shape)

(100, 6)

In [ ]:
#Reading the Procedure Details DataFrame
proceduredetails_df.head()

  ProcedureType  ProcedureSubCode  Description  Price
0   OFFICE FEES                 1  Office Call     32
1   OFFICE FEES                 2    Emergency    100
2   OFFICE FEES                 3         Reck     24
3      GROOMING                 1         Bath     15
4      GROOMING                 2     Flea Dip     15

In [ ]:
#Checking the unique values from Procedure and Procedure Details DataFrame to merge them together
print('ProcedureType in Procedure Details DataFrame:',proceduredetails_df['ProcedureType'].unique())
print('ProcedureSubCode in Procedure Details DataFrame:',proceduredetails_df['ProcedureSubCode'].unique())
print('ProcedureType in Procedures DataFrame:', procedures_df['ProcedureType'].unique())
print('ProcedureSubCode in Procedures DataFrame:', procedures_df['ProcedureSubCode'].unique())

ProcedureType in Procedure Details DataFrame: ['OFFICE FEES' 'GROOMING' 'VACCINATIONS' 'HOSPITALIZATION' 'ORTHOPEDIC'
 'GENERAL SURGERIES']
ProcedureSubCode in Procedure Details DataFrame: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
ProcedureType in Procedures DataFrame: ['VACCINATIONS' 'ORTHOPEDIC' 'GROOMING' 'GENERAL SURGERIES']
ProcedureSubCode in Procedures DataFrame: [ 5  7  3  1  8  9 17]

In [ ]:
#Reading the Procedures DataFrame
procedures_df.head()

     PetID   Date ProcedureType  ProcedureSubCode
0  T0-3277  42391  VACCINATIONS                 5
1  G6-6501  42398  VACCINATIONS                 5
2  P9-3625  42399    ORTHOPEDIC                 7
3  F1-1855  42402  VACCINATIONS                 5
4  S1-2243  42404  VACCINATIONS                 5

# Question 1: What is the name of the oldest dog in Southfield?

In [ ]:
#Finding the unique values in the Kind Column in Pets Dataframe
pets_df['Kind'].unique()

array(['Dog', 'Cat', 'Parrot'], dtype=object)

In [ ]:
#Renaming the column in pets DataFrame before merging
pets_df = pets_df.rename(columns={'Name':'PetName'})

In [ ]:
#Merging the two datasets using the OwnerID column as its common in both

merge_owner_pets_df = owner_df.merge(pets_df, on='OwnerID')
merge_owner_pets_df.head()

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode,PetID,PetName,Kind,Gender,Age
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503,I6-9459,Biscuit,Dog,female,4
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423,R4-6131,Biscuit,Dog,female,5
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302,N6-7350,Biscuit,Dog,female,8
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684,U4-6674,Biscuit,Dog,female,1
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,Dog,female,3

In [ ]:
#Finding results for dogs in Southfield City
dog_southfield = merge_owner_pets_df[(merge_owner_pets_df['City'] == 'Southfield') & (merge_owner_pets_df['Kind'] == 'Dog')]
dog_southfield

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode,PetID,PetName,Kind,Gender,Age
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,Dog,female,3
32,8133,Stacey,Randolph,1145 D Street,Southfield,MI,Michigan,48075,G0-7675,Taz,Dog,male,4
33,8133,Stacey,Randolph,1145 D Street,Southfield,MI,Michigan,48075,O3-1895,Candy,Dog,female,3
36,7846,Elvia,Warren,2041 Eagle Drive,Southfield,MI,Michigan,48075,U4-9376,Scout,Dog,female,2
37,7846,Elvia,Warren,2041 Eagle Drive,Southfield,MI,Michigan,48075,H8-1429,Lily,Dog,female,3
46,1334,Jason,Cantwell,2372 Don Jackson Lane,Southfield,MI,Michigan,48075,J0-7893,Crockett,Dog,male,12
48,2967,Travis,Bowman,3265 Front Street,Southfield,MI,Michigan,48075,L4-9973,Houdini,Dog,male,5
69,3661,Bruce,Hart,2497 Nash Street,Southfield,MI,Michigan,48075,X8-9212,Danger,Dog,male,5
91,3615,Marion,Glover,2311 Cherry Ridge Drive,Southfield,MI,Michigan,48075,U2-4205,Cuddles,Dog,male,5
99,1546,Joseph,Blow,556 D Street,Southfield,MI,Michigan,48075,U6-4890,Brandy,Dog,male,6

In [ ]:
#Checking the oldest dog
oldest_dog = max(dog_southfield['Age'])
oldest_dog

12

In [ ]:
#Detailed Result of Oldest Dog in Southfield
oldest_dog = dog_southfield.sort_values('Age', ascending=False).iloc[0]
oldest_dog

OwnerID                           1334
Name                             Jason
Surname                       Cantwell
StreetAddress    2372 Don Jackson Lane
City                        Southfield
State                               MI
StateFull                     Michigan
ZipCode                          48075
PetID                          J0-7893
PetName                       Crockett
Kind                               Dog
Gender                            male
Age                                 12
Name: 46, dtype: object

In [ ]:
#Printing the name of the Oldest Dog in Southfield
dogname_southfield = oldest_dog['PetName']
print(f'The name of the dog in Southfield city is: {dogname_southfield}')

The name of the dog in Southfield city is: Crockett

# Question 2: What is the average(mean) number of pets per City?

In [ ]:
#Finding unique cities in the merged dataframe
merge_owner_pets_df['City'].unique()

array(['Grand Rapids', 'Davison', 'Bloomfield Township', 'Traverse City',
       'Southfield', 'Rochester Hills', 'Kalamazoo', 'Center Line',
       'Saint Charles', 'Detroit', 'East Lansing', 'Lincoln Park',
       'Lansing', 'Livonia', 'Caro', 'Highland Park', 'Saginaw',
       'Commerce', 'Fremont', 'Farmington Hills', 'Grand Ledge',
       'Pontiac', 'Westland', 'Bridgman', 'Michigan Center', 'Flint',
       'Hudsonville', 'Dutton', 'Wayne', 'Marquette', 'Warren',
       'Clam River', 'Plymouth', 'Bruce Crossing', 'Farmington',
       'Fruitport', 'Ann Arbor', 'Roseville', 'Middleville', 'Oshtemo'],
      dtype=object)

In [ ]:
#Calculating the average number of pets per city
average_pets_per_city = merge_owner_pets_df.groupby('City')['PetID'].count().mean()
average_pets_per_city

2.5

In [ ]:
print(f'The Average number of pets per City are: {average_pets_per_city}')

The Average number of pets per City are: 2.5

# Question 3: Which owner spent the most on procedures for their pet(s)?

In [ ]:
#Merging all the datasets together
merged_df = merge_owner_pets_df.merge(procedures_df, on='PetID')
merged_df = merged_df.merge(proceduredetails_df, on=['ProcedureType','ProcedureSubCode'])
merged_df.head()

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode,PetID,PetName,Kind,Gender,Age,Date,ProcedureType,ProcedureSubCode,Description,Price
0,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,Dog,female,3,42561,VACCINATIONS,5,Rabies,10
1,6194,Karen,Torres,3941 Ritter Avenue,Center Line,MI,Michigan,48015,O6-3123,Biscuit,Dog,female,2,42624,VACCINATIONS,5,Rabies,10
2,5833,Mary,Hurtado,4865 Juniper Drive,Saint Charles,MI,Michigan,48655,T0-5705,Biscuit,Dog,female,5,42678,VACCINATIONS,5,Rabies,10
3,7581,Florence,Nolen,3103 Howard Street,Grand Rapids,MI,Michigan,49503,X0-8765,Vuitton,Parrot,female,11,42447,VACCINATIONS,5,Rabies,10
4,9900,Marie,Floyd,314 Cunningham Court,Southfield,MI,Michigan,48075,I2-7926,Dior,Parrot,female,4,42518,VACCINATIONS,5,Rabies,10

In [ ]:
#Checking the shape of the merged dataframe
merged_df.shape

(41, 18)

In [ ]:
#Finding the result which owner spent the most on their pets
owner_spent = merged_df.groupby('OwnerID')['Price'].sum()
owner_mostspending = owner_spent.idxmax()
owner_spent

OwnerID
1070     25
1546     10
1653     10
1766     10
1915    305
2419     10
2722     10
2809     20
3086     10
3089     40
3245     10
4378     10
5168    175
5447     10
5508     15
5806    400
5833     10
6157     10
6194     10
7261    125
7579    325
7581    185
7606     10
7663     10
7846     10
8133     10
8143     40
8215     30
8316    450
9365     10
9604     10
9828     10
9900     10
Name: Price, dtype: int64

In [ ]:
#Resulting the owner who spent the most
owner_mostspent = merged_df.loc[merged_df['OwnerID'] == owner_mostspending]
owner_mostspent.head()

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode,PetID,PetName,Kind,Gender,Age,Date,ProcedureType,ProcedureSubCode,Description,Price
38,8316,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503,J1-6366,Bruce,Dog,male,3,42665,GENERAL SURGERIES,17,Radical Mastectomy,450

In [ ]:
#Printing the final answer which owner spent the most on their pet
owner_mostspent_name = owner_mostspent['Name'].iloc[0]
owner_mostspent_surname = owner_mostspent['Surname'].iloc[0]
print(f'The Owner who spent the most on their pets is: {owner_mostspent_name, owner_mostspent_surname}')

The Owner who spent the most on their pets is: ('Daniel', 'Fay')

# Question 4: How many owners spent 20 dollars or more on procedures for their pets?

In [ ]:
#Calculatin the total number of owners who spent more than 20 dollars on their pets
owner_spent_20_dollars_or_more = (owner_spent>=20).sum()
print(f'The total number of owners who spent more than 20 dollars on pet procedures are: {owner_spent_20_dollars_or_more}')

The total number of owners who spent more than 20 dollars on pet procedures are: 12

# Question 5: How many owners have at least two different kinds of pets (e.g. a dog and a cat)?

In [ ]:
#Checking owner with 2 or more pets
owner_with_two_or_more_pets = merge_owner_pets_df.groupby('OwnerID')['Kind'].nunique()
owner_with_two_or_more_pets

OwnerID
1070    1
1132    1
1202    1
1306    1
1312    1
       ..
9604    1
9614    1
9828    1
9850    1
9900    1
Name: Kind, Length: 89, dtype: int64

In [ ]:
#Printing the total number of owners with 2 or more pets
no_of_owners_with_two_or_more_pets = (owner_with_two_or_more_pets >= 2).sum()
print(f'The number of owners with multiple kinds of pets : {no_of_owners_with_two_or_more_pets}')

The number of owners with multiple kinds of pets : 4

# Question 6: How many owners have pets where the first letter of their name (OwnerName) matches the first letter of their pet's name (PetName)? E.g. Cookie and Charles.

In [ ]:
#Getting the first letter of Owner and pets name
owner_first_letter = merge_owner_pets_df['Name'].str[0]
pet_first_letter = merge_owner_pets_df['PetName'].str[0]

In [ ]:
#Matching the first letter of owner and pet together
matching_first_letter_owner_pet = merge_owner_pets_df.loc[owner_first_letter == pet_first_letter]
owner_pet_same_first_letter = matching_first_letter_owner_pet['OwnerID'].nunique()

In [ ]:
#Printing the total number of owners and pets whos first letters match
print(f'The total number of Owners and pets whose first letters match are : {owner_pet_same_first_letter}')

The total number of Owners and pets whose first letters match are : 8

In [ ]:
#Reading the merged dataframe
merged_df.head()

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode,PetID,PetName,Kind,Gender,Age,Date,ProcedureType,ProcedureSubCode,Description,Price
0,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,Dog,female,3,42561,VACCINATIONS,5,Rabies,10
1,6194,Karen,Torres,3941 Ritter Avenue,Center Line,MI,Michigan,48015,O6-3123,Biscuit,Dog,female,2,42624,VACCINATIONS,5,Rabies,10
2,5833,Mary,Hurtado,4865 Juniper Drive,Saint Charles,MI,Michigan,48655,T0-5705,Biscuit,Dog,female,5,42678,VACCINATIONS,5,Rabies,10
3,7581,Florence,Nolen,3103 Howard Street,Grand Rapids,MI,Michigan,49503,X0-8765,Vuitton,Parrot,female,11,42447,VACCINATIONS,5,Rabies,10
4,9900,Marie,Floyd,314 Cunningham Court,Southfield,MI,Michigan,48075,I2-7926,Dior,Parrot,female,4,42518,VACCINATIONS,5,Rabies,10

In [ ]:
#Checking the merged dataframe shape
merged_df.shape

(41, 18)

# Question 7: What percentage of pets received a vaccination?

In [ ]:
#Calculating the total number of vaccinations for all pets
total_num_of_pets_with_vaccinations = procedures_df.loc[procedures_df['ProcedureType'] == 'VACCINATIONS']
total_num_of_pets_with_vaccinations = total_num_of_pets_with_vaccinations['PetID'].nunique()
# alternate method to get total number of pets with vaccinations
# total_num_of_pets_with_vaccinations = len(total_num_of_pets_with_vaccinations)
total_num_of_pets_with_vaccinations

24

In [ ]:
#Storing total number of pets in a variable
total_no_of_pets = len(pets_df)
total_no_of_pets

100

In [ ]:
#Calculating the percentage of pets with vaccinations
percentage_pets_vaccination = (total_num_of_pets_with_vaccinations/total_no_of_pets)*100
print(f'The total number of pets with vaccination : {percentage_pets_vaccination}')

The total number of pets with vaccination : 24.0

# Question 8: What percentage of cities have more male pets than female pets?

In [ ]:
#Segregating male and female pets by cities
male_pets_by_city = merge_owner_pets_df[merge_owner_pets_df['Gender'] == 'male'].groupby('City')['PetID'].count()
female_pets_by_city = merge_owner_pets_df[merge_owner_pets_df['Gender'] == 'female'].groupby('City')['PetID'].count()

In [ ]:
#Checking male pets by cities
male_pets_by_city

City
Ann Arbor               2
Bloomfield Township     1
Bridgman                1
Bruce Crossing          1
Clam River              1
Detroit                 3
Dutton                  1
East Lansing            1
Farmington              1
Flint                   3
Fruitport               2
Grand Ledge             1
Grand Rapids            6
Hudsonville             1
Lansing                 4
Livonia                 1
Marquette               6
Michigan Center         1
Middleville             1
Oshtemo                 1
Plymouth                1
Pontiac                 3
Roseville               1
Saginaw                 2
Southfield             10
Warren                  1
Wayne                   1
Westland                1
Name: PetID, dtype: int64

In [ ]:
#Checking female pets by cities
female_pets_by_city

City
Bloomfield Township    3
Caro                   1
Center Line            1
Clam River             1
Commerce               1
Davison                1
Detroit                5
East Lansing           1
Farmington Hills       1
Flint                  1
Fremont                1
Grand Rapids           4
Highland Park          1
Kalamazoo              2
Lansing                2
Lincoln Park           1
Livonia                1
Marquette              1
Rochester Hills        1
Saginaw                1
Saint Charles          1
Southfield             8
Traverse City          1
Name: PetID, dtype: int64

In [ ]:
#Grouping the city and gender by petID
grouped_df = merge_owner_pets_df.groupby(['City', 'Gender'])['PetID'].count().reset_index()
grouped_df

                   City  Gender  PetID
0             Ann Arbor    male      2
1   Bloomfield Township  female      3
2   Bloomfield Township    male      1
3              Bridgman    male      1
4        Bruce Crossing    male      1
5                  Caro  female      1
6           Center Line  female      1
7            Clam River  female      1
8            Clam River    male      1
9              Commerce  female      1
10              Davison  female      1
11              Detroit  female      5
12              Detroit    male      3
13               Dutton    male      1
14         East Lansing  female      1
15         East Lansing    male      1
16           Farmington    male      1
17     Farmington Hills  female      1
18                Flint  female      1
19                Flint    male      3
20              Fremont  female      1
21            Fruitport    male      2
22          Grand Ledge    male      1
23         Grand Rapids  female      4
24         Grand Rapids    male      6
25        Highland Park  female      1
26          Hudsonville    male      1
27            Kalamazoo  female      2
28              Lansing  female      2
29              Lansing    male      4
30         Lincoln Park  female      1
31              Livonia  female      1
32              Livonia    male      1
33            Marquette  female      1
34            Marquette    male      6
35      Michigan Center    male      1
36          Middleville    male      1
37              Oshtemo    male      1
38             Plymouth    male      1
39              Pontiac    male      3
40      Rochester Hills  female      1
41            Roseville    male      1
42              Saginaw  female      1
43              Saginaw    male      2
44        Saint Charles  female      1
45           Southfield  female      8
46           Southfield    male     10
47        Traverse City  female      1
48               Warren    male      1
49                Wayne    male      1
50             Westland    male      1

In [ ]:
# Pivoting the data to get city as the index, gender as columns, and the count as values
pivot_df = grouped_df.pivot(index='City', columns='Gender', values='PetID').reset_index()
pivot_df.fillna(0, inplace=True)
pivot_df

Gender                 City  female  male
0                 Ann Arbor     0.0   2.0
1       Bloomfield Township     3.0   1.0
2                  Bridgman     0.0   1.0
3            Bruce Crossing     0.0   1.0
4                      Caro     1.0   0.0
5               Center Line     1.0   0.0
6                Clam River     1.0   1.0
7                  Commerce     1.0   0.0
8                   Davison     1.0   0.0
9                   Detroit     5.0   3.0
10                   Dutton     0.0   1.0
11             East Lansing     1.0   1.0
12               Farmington     0.0   1.0
13         Farmington Hills     1.0   0.0
14                    Flint     1.0   3.0
15                  Fremont     1.0   0.0
16                Fruitport     0.0   2.0
17              Grand Ledge     0.0   1.0
18             Grand Rapids     4.0   6.0
19            Highland Park     1.0   0.0
20              Hudsonville     0.0   1.0
21                Kalamazoo     2.0   0.0
22                  Lansing     2.0   4.0
23             Lincoln Park     1.0   0.0
24                  Livonia     1.0   1.0
25                Marquette     1.0   6.0
26          Michigan Center     0.0   1.0
27              Middleville     0.0   1.0
28                  Oshtemo     0.0   1.0
29                 Plymouth     0.0   1.0
30                  Pontiac     0.0   3.0
31          Rochester Hills     1.0   0.0
32                Roseville     0.0   1.0
33                  Saginaw     1.0   2.0
34            Saint Charles     1.0   0.0
35               Southfield     8.0  10.0
36            Traverse City     1.0   0.0
37                   Warren     0.0   1.0
38                    Wayne     0.0   1.0
39                 Westland     0.0   1.0

In [ ]:
#Getting total number of cities
total_cities = owner_df['City'].nunique()
total_cities

40

In [ ]:
#Calculating the percentage of cities who have more male pets than female
pivot_df['more_male_pets'] = pivot_df['male'] > pivot_df['female']
cities_more_male_pets = (pivot_df['more_male_pets']).sum()
percentage_of_cities_have_more_male_pets = (cities_more_male_pets / total_cities)* 100
print(f'The percentage of cities who have more male pets than female : {percentage_of_cities_have_more_male_pets}')

The percentage of cities who have more male pets than female : 57.49999999999999

# Question 9: Which city's pet sample is made up of exactly 70% dogs? The answer is case sensitive, so please match the value for City exactly.

In [ ]:
#Unstacking 'Kind' from owner and pets merged dataframe, grouping by City and Kind and storing it in pets by city
pets_by_city = merge_owner_pets_df.groupby('City')['Kind'].value_counts().unstack()
pets_by_city.fillna(0, inplace=True)
pets_by_city

Kind                 Cat   Dog  Parrot
City
Ann Arbor            0.0   1.0     1.0
Bloomfield Township  1.0   2.0     1.0
Bridgman             1.0   0.0     0.0
Bruce Crossing       0.0   1.0     0.0
Caro                 1.0   0.0     0.0
Center Line          0.0   1.0     0.0
Clam River           0.0   2.0     0.0
Commerce             0.0   1.0     0.0
Davison              0.0   1.0     0.0
Detroit              2.0   5.0     1.0
Dutton               1.0   0.0     0.0
East Lansing         1.0   0.0     1.0
Farmington           0.0   1.0     0.0
Farmington Hills     0.0   1.0     0.0
Flint                3.0   1.0     0.0
Fremont              0.0   1.0     0.0
Fruitport            0.0   1.0     1.0
Grand Ledge          0.0   1.0     0.0
Grand Rapids         1.0   7.0     2.0
Highland Park        1.0   0.0     0.0
Hudsonville          1.0   0.0     0.0
Kalamazoo            1.0   1.0     0.0
Lansing              3.0   3.0     0.0
Lincoln Park         0.0   0.0     1.0
Livonia              2.0   0.0     0.0
Marquette            2.0   4.0     1.0
Michigan Center      1.0   0.0     0.0
Middleville          0.0   0.0     1.0
Oshtemo              0.0   1.0     0.0
Plymouth             0.0   1.0     0.0
Pontiac              0.0   3.0     0.0
Rochester Hills      0.0   1.0     0.0
Roseville            0.0   0.0     1.0
Saginaw              0.0   3.0     0.0
Saint Charles        0.0   1.0     0.0
Southfield           7.0  10.0     1.0
Traverse City        0.0   1.0     0.0
Warren               1.0   0.0     0.0
Wayne                1.0   0.0     0.0
Westland             0.0   1.0     0.0

In [ ]:
#Calculating percentage of dogs by city
pets_by_city['Percentage_of_dogs'] = (pets_by_city['Dog'] / (pets_by_city['Dog'] + pets_by_city['Cat'] + pets_by_city['Parrot'])) * 100
pets_by_city

Kind                 Cat   Dog  Parrot  Percentage_of_dogs
City
Ann Arbor            0.0   1.0     1.0           50.000000
Bloomfield Township  1.0   2.0     1.0           50.000000
Bridgman             1.0   0.0     0.0            0.000000
Bruce Crossing       0.0   1.0     0.0          100.000000
Caro                 1.0   0.0     0.0            0.000000
Center Line          0.0   1.0     0.0          100.000000
Clam River           0.0   2.0     0.0          100.000000
Commerce             0.0   1.0     0.0          100.000000
Davison              0.0   1.0     0.0          100.000000
Detroit              2.0   5.0     1.0           62.500000
Dutton               1.0   0.0     0.0            0.000000
East Lansing         1.0   0.0     1.0            0.000000
Farmington           0.0   1.0     0.0          100.000000
Farmington Hills     0.0   1.0     0.0          100.000000
Flint                3.0   1.0     0.0           25.000000
Fremont              0.0   1.0     0.0          100.000000
Fruitport            0.0   1.0     1.0           50.000000
Grand Ledge          0.0   1.0     0.0          100.000000
Grand Rapids         1.0   7.0     2.0           70.000000
Highland Park        1.0   0.0     0.0            0.000000
Hudsonville          1.0   0.0     0.0            0.000000
Kalamazoo            1.0   1.0     0.0           50.000000
Lansing              3.0   3.0     0.0           50.000000
Lincoln Park         0.0   0.0     1.0            0.000000
Livonia              2.0   0.0     0.0            0.000000
Marquette            2.0   4.0     1.0           57.142857
Michigan Center      1.0   0.0     0.0            0.000000
Middleville          0.0   0.0     1.0            0.000000
Oshtemo              0.0   1.0     0.0          100.000000
Plymouth             0.0   1.0     0.0          100.000000
Pontiac              0.0   3.0     0.0          100.000000
Rochester Hills      0.0   1.0     0.0          100.000000
Roseville            0.0   0.0     1.0            0.000000
Saginaw              0.0   3.0     0.0          100.000000
Saint Charles        0.0   1.0     0.0          100.000000
Southfield           7.0  10.0     1.0           55.555556
Traverse City        0.0   1.0     0.0          100.000000
Warren               1.0   0.0     0.0            0.000000
Wayne                1.0   0.0     0.0            0.000000
Westland             0.0   1.0     0.0          100.000000

In [ ]:
#Checking and Printing cities with exactly 70 percent of dogs
city_with_exact_70_percent_dog = pets_by_city[pets_by_city['Percentage_of_dogs'] == 70].index[0]
print(f'The cities with exactly 70 percent of dogs : {city_with_exact_70_percent_dog}')

The cities with exactly 70 percent of dogs : Grand Rapids